/.vim/backup
/.vim/undo
/.vim/doc/
/.vim/syntax/
/.vim/autoload/
/.vim/plugins/
/.vim/view/
/.vim/.netrwhist
/.vim/colors/
/.vim/templates
/config/nvim/.netrwhist
/bin/oj*
/bin/jsonschema
tags

# qmk
bin/hjson
bin/hjson.cmd
bin/milc-color
bin/pygmentize
bin/qmk

