/.vim/doc/
/.vim/syntax/
/.vim/autoload/
/.vim/plug/plugins/
/.vim/view/
/.vim/.netrwhist
/config/nvim/.netrwhist
/bin/oj*
/bin/jsonschema
tags

# qmk
bin/hjson
bin/hjson.cmd
bin/milc-color
bin/pygmentize
bin/qmk

