# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = ryoo14
email = anana12185@gmail.com

[alias]
  s  = status
  l  = log
  d  = diff
  ps = push
  pl = pull
  a  = add
  c  = commit
  b  = branch
  ch = checkout

[core]
	quotepath = false
	commitGraph = true

[gc]
	writeCommitGraph = true

[credential]
	helper = store

[url "https://github.com/"]
	insteadOf = git@github.com:

[url "https://"]
	insteadOf = git://

[ghq]
  root = ~/ghq

[init]
	defaultBranch = main
[commit]
	template = ~/.gitmessage
